<h1>Profiles I Follow</h1>

{{#if following}}
<ul>
    {{#each following}}
    <li>
        <a href="/{{username}}">{{username}}</a>
        <form method="POST" action="/profile/following">
            <input type="hidden" name="_method" value="PATCH">
            <input type="hidden" name="followingId" value="{{_id}}">
            <input type="hidden" name="operation" value="remove">
            <button type="submit">Unfollow</button>
        </form>
    </li>
    {{/each}}
</ul>
{{else}}
<p>You are not following any profiles.</p>
{{/if}}