<link href="../public/main_styles.css" rel="stylesheet" type="text/css" />
<main>
    <article>
        <h1> Activities</h1>
        <section>
                <table style="border-collapse: collapse; width: 100%; text-align: center;">
  <thead>
    <tr>
      <th style="border: 1px solid black; padding: 8px;"> S No.</th>
      <th style="border: 1px solid black; padding: 8px;">Date</th>
      <th style="border: 1px solid black; padding: 8px;">Movie Name</th>
      <th style="border: 1px solid black; padding: 8px;">View/Edit</th>
    </tr>
  </thead>
  <tbody>
    {{#each results}}
      <tr>
        <td style="border: 1px solid black; padding: 8px;">{{this.userId}}</td>
        <td style="border: 1px solid black; padding: 8px;">{{this.date}}</td>
        <td style="border: 1px solid black; padding: 8px;">{{this.movieId}}</td>
        <td style="border: 1px solid black; padding: 8px;"><a class="new" href="/showmore/:id">View</a> <a class="new" href="/">Edit</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>

          
        </section>
   
    </article>
    <br>
    <br>
    <a class="new" href="/showmore">Show More</a>
    <a class="new" href="/">Go back to Home</a>
    
</main>