<h1>My Lists</h1>

{{#if lists}}
<ul>
    {{#each lists}}
    <li>
        <a href="/lists/{{_id}}">{{title}}</a>
    </li>
    {{/each}}
</ul>
{{else}}
<p>You haven't created any lists yet.</p>
{{/if}}

<form method="GET" action="/lists/newList">
    <button type="submit">Create New List</button>
</form>