{{#unless searchedUser}}
    <h1>My Lists</h1>
{{/unless}}
{{#if lists}}
<ul>
    {{#each lists}}
    <li>

        <a href="/list/{{_id}}">{{title}}</a>

    </li>
    {{/each}}
</ul>
{{else}}
    {{#unless searchedUser}}
        <p>You haven't created any lists yet.</p>
    {{else}}
        <p>No lists available</p>
    {{/unless}}
{{/if}}

{{#unless searchedUser}}

    <form method="GET" action="/profile/lists/newList">
        <button type="submit" class="btn btn-primary">Create New List</button>
    </form>


{{/unless}}