<form method="post" action="/search" id="searchForm" class="d-flex mx-auto" role="search">
    <label for="searchOption" class="sr-only"> Search Criteria</label>
    <select name="searchOption" id="searchOption">
        <option value="movies">Movies</option>
        <option value="users">Users</option>
    </select>

    <label for="searchTerm" class="sr-only"> Search for Movies/Users</label>
    <input class="form-control me-2" type="search" aria-label="Search" name="searchTerm" id="searchTerm"
        placeholder="Search for Movies/Users" required>
    <div id="searchFormErrorDiv" class="form-text error" hidden></div>

    <button class="btn btn-primary" type="submit">Search</button>
</form>