<div class="searchbar">
    <form id="searchForm">
        <label for="searchOption" class="sr-only">
            <select name="searchOption" id="searchOption">
                <option value="movies">Movies</option>
                <option value="users">Users</option>
            </select>
        </label>
        <label for="search">
            <input type="text" name="search" id="searchBar" placeholder="Search for Movies or Users">
        </label>
        <label for="searchSubmit">
            <button type="submit" name="searchSubmit">Search</button>
        </label>
    </form>
</div>