<h1>My Watchlist</h1>

{{#if userWatchlist}}
<ul>
    {{#each userWatchlist}}
    <li>
        <a href="/movie/{{id}}">{{title}}</a>
        <form method="POST" action="/profile/watchlist">
            <input type="hidden" name="_method" value="PATCH">
            <input type="hidden" name="movieId" value="{{id}}">
            <input type="hidden" name="operation" value="remove">
            <button type="submit">Remove from watchlist</button>
        </form>
    </li>
    {{/each}}
</ul>
{{else}}
<p>Your watchlist is empty.</p>
{{/if}}