<h1>New List</h1>
<div class="search-container">
  <form>
    <div class="mb-3">
                    <label for="nameInput" class="form-label">Name</label>
                    <input type="text" class="form-control" id="nameInput" name="nameInput">
                </div>

    <div class="input-container">
      <label for="search-input">ADD A FILM</label>
      <input type="text" id="search-input" placeholder="Enter name of film...">
    </div>
    <ul id="search-results"></ul>
  </form>
</div>

<script type="module" src="/public/js/scriptList.js"></script>