<form id="editListForm" action="/list/{{list._id}}" method="POST" data-list-id="{{list._id}}">
    <input type="hidden" name="_method" value="PUT">
    <label for="listName">List Name:</label>
    <input type="text" id="listName" name="listName" value="{{list.title}}" required />
    <br />
    <label for="searchMovie">Search Movie:</label>
    <input type="text" id="searchMovie" name="searchMovie" />
    <button type="button">Search</button>
    <div id="searchResults"></div>
    <br />
    <label>Selected Movies:</label>
    <ul id="selectedMovies"></ul>
    <br />
    <button type="submit">Save Changes</button>
</form>
<script defer src="/public/js/scriptEditList.js"></script>