<p class="about">This is our app CineLog. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae amet suscipit rerum temporibus perferendis fuga sequi maxime itaque voluptates aperiam dolorem, id non. Officiis sequi asperiores nobis commodi, ipsam facere.</p>
{{!-- Trending --}}
