<div class="container mt-4">
    <div class="card" style="width: 18rem;">
        <div class="card-header">Login</div>
        <div class="card-body">
            <form action="/login" method="POST">
                <div class="mb-3">
                    <label for="usernameInput" class="form-label">Username</label>
                    <input type="text" class="form-control" id="usernameInput" name="usernameInput">
                </div>
                <div class="mb-3">
                    <label for="passwordInput" class="form-label">Password</label>
                    <input type="password" class="form-control" id="passwordInput" name="passwordInput">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<div>
  <a href="/signup">Click here to signup!</a>
</div>
<div id="logErr" hidden></div>