<body>
    <nav>
        <ul>
            <li><a href="/profile/">User Information</a></li>
            <li><a href="/profile/activity">Activity</a></li>
            <li><a href="/profile/likes">Likes</a></li>
            <li><a href="/profile/watchlist">Watchlist</a></li>
            <li><a href="/profile/following">Following</a></li>
            <li><a href="/profile/lists">Lists</a></li>
            <li><a href="/profile/statistics">Statistics</a></li>
        </ul>
    </nav>
    {{> (lookup . 'script_partial') }}

    {{!-- <script src="/public/js/toast.js"></script> --}}
</body>