<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>

<body>
    <a href="/profile/">USER INFO.</a>
    <a href="/profile/activity">ACTIVITY.</a>
    <a href="/profile/likes">LIKES.</a>
    <a href="/profile/watchlist">WATCHLIST.</a>
    <a href="/profile/following">FOLLOWING.</a>
    <a href="/profile/lists">LISTS.</a>
    <a href="/profile/statistics">STATISTICS.</a>
    <script></script>
    {{> (lookup . 'script_partial') }}
</body>

</html>