.search-container {
  width: 400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.form-control {
  outline: none;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.input-container label {
  /*margin-right: 10px;*/
  padding: 5px;
  border-radius: 2px;
  background-color: #4CAF50;
  color: white;
}

.input-container input {
  border-radius: 5px;
  font-size: 16px;
  flex: 1;
  padding: 5px;
  border: none;
  /*outline: none;*/
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* header,
footer {
  padding: 20px;
  background-color: #222;
  color: #fff;
} */

main {
  padding: 20px;
}

.list-details {
  text-align: center;
  margin-bottom: 40px;
}

/* .movies {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
} */

.movies li {
  list-style-type: none;
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  width: 250px;
  flex-shrink: 0;
}

.movies li:hover {
  transform: scale(1.05);
}

.movie-poster {
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
}

.movie-poster::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

.movie-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.movie-details {
  text-align: left;
}

.movie-details h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.movie-details a {
  text-decoration: none;
  color: inherit;
}

.movie-details a:hover {
  text-decoration: underline;
}

.movie-details p {
  font-size: 1rem;
  margin-bottom: 5px;
}

.horizontal-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.horizontal-list li {
  flex: 1 0 21%;
  /* This will allow 4 items per row, you can adjust this percentage according to your needs */
  margin: 0.5em;
  list-style-type: none;
}