/* IDs */


/* Classes */
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.error {
    color: red;
}

/* #####Page Tags##### */
    /* global */
body {
    background-color: white;
}

nav {
    background-color: #f9f9f9;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #333;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: #0077cc;
    color: #fff;
    border-radius: 5px;
}

img{
    width: 300px;
    height: 300px;
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    display: block; /* Make sure the image is a block element */
    margin: 0 auto; /* Center the image horizontally */
    border-radius: 50%; /* Add a circular border to the image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
}
    /* used for activity */
    /*by tags*/
    table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    }
    
    th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
    }
    
    th {
    background-color: #f2f2f2;
    font-weight: bold;
    }
    
    button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    }
    
    button:hover {
    background-color: #006A8E;
    }
    /*By tags*/
    #activityById {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 1rem;
        color: #333;
      }
      
    #activityById_mname {
        font-size: 1.8rem;
        font-weight: bold;
        margin-top: 2rem;
        margin-bottom: 1rem;
        color: #333;
    }
      
    #err_c {
        color: red;
    }

    .table_class{
    border: 1px solid black; 
    padding: 8px;
    }